#hr {
    margin: 30px 0;
}

#btn_add_photo {
    padding: 0 7px;
}

#add_photo {
    margin-right: 10px;
    height: 28px;
    font-size: 22px;
}

#label_add_photo {
    margin-top: 0;
    padding-top: 5px;
}

#nome_arquivo {
    font-size: 13px;
}
